astroid==2.5
click==7.1.2
graphviz==0.16
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pylint==2.7.0
spark-parser==1.8.9
toml==0.10.2
uncompyle6==3.7.4
wrapt==1.12.1
xdis==5.0.7
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
flask
